body{
        margin: 0;
        padding: 0;
        background-color: #eee;
        font-size: 120%;
        font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color : #fff;
    width: 100%;
    height: 60px;

}

.header-logo{
        width: 100px;
        height: auto;
        padding-left: 60px;
        padding-top: 5px;
}

a{
        color: #000;
        text-decoration: none;
        padding: 0;
}

.box{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 50px;
}

h1{
        font-size: 200%;
        padding: 15px;
}

p{
        font-size: 120%;
        font-weight: 500;
}



button{
        background: none;
        border: none;
}

/*----------LEFT SIDE OF THE PAGE----------------*/

.left-side{
        background-color: #fff;
        height: 100%;
        padding: 2%;
        margin-left: 2.5%;
        width: 13%;
        align-self: top;
}
.green-block-curved{
        color: #fff;
        padding: 0px;
        background-color: #247C7E;
        border-radius: 7.5px;
        font-weight: 700;
        align-items: left;
}


.icons{
        padding-top: 10px;
        width: 25px;
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
}

.explore-group-block{
        padding: 0px;
        padding-bottom: 15px;
}

.group-list{
        padding-top: 20px;
}

.expand-arrow{
        width: 15px;
        padding: auto;
}

.collapsable-list{
        padding-top: 0px;
}

li.groups-list{

        list-style: none;
        
}

.icons-group{
        width: 35px;
        height: auto;
}

.icon-infront-text{
        padding-bottom: 10px;
        vertical-align: middle;
        display: inline-block;
}

/*-------------------------------------------------------------------*/


/***************************RIGHT SIDE---------------------------*/

.right-side{
        height: 100%;
        margin-right: 2.5%;
        padding-right: 2.5%;
        width: 15%;
        padding-top: 0;
}

#login-button-box{
        align-self: top;
        text-align: center;
        padding: 3%;
        margin-bottom: 10%;
        margin-top: 2%;
}

.green-block-sharp{
        color: #247C7E;
        background-color: #e2e2e2;
        padding: 4%;
}




/*--------------------------------------------------------------------*/


/*-------------------------------MIDDLE----------------------------------*/
.middle{
        background: #eee;
        height: 100%;
        width: 55%;

}
/*----------Top Part-----------------*/
.collaspsible-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
}

.white-block{
        background-color: #fff;
        padding-top: 2%;
        margin: 0;
}

#welcome-block.white-block{
        border-radius: 10px;
}

.person-logo{
        width: 50px;
        height: auto;
}

.like-image{
        width: 20px;
        height: auto;
}

.comment-image{
        width: 20px;
        height: auto;
}

#welcome-content{
        font-weight: lighter;
        padding: 10px;
        width: 50%;
        padding-bottom: 100px;
}

#image-welcome-block{
        width: 15%;
        position: absolute;
        top: 14%;
        left: 55%;
}

#link-intext{
        color: #247C7E;
        text-decoration: underline;
}

.green-underlined-button-if-selected{
        font-size: 120%;
        font-weight: 600;
        color: #247C7E;
        padding: 1%;
        margin-left: 2%;
        display: inline-block;
}

.green-underlined-button-if-selected:hover{
        background-color: #ddd;
        box-shadow: inset 0 -2.5px 0 0;
        border-radius: 10%;
        
        
}

.green-underlined-button-if-selected-link:active{
        box-shadow: inset 0 -2.5px 0 0;
}
/*-----------------------------------------------*/
/*--------Middle space-----*/

#recents{
        padding: 2%;
}

/*-------------------------*/

/*------Middle details-----*/

.group-details-block{
        padding: 2.5%;   
        margin-bottom: 0%;
    
}

p.about-post{
        color: #444;
        font-size: 100%;
        margin: 0;
        padding-left:5% ;

}

div.group-details-block{
        box-shadow: inset 0 -1px 0 0;
}

div.post-heading-block{
        font-size: larger;
        font-weight: 400;
        text-align: center left;
}

.post-heading{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        padding-bottom: 3%;

}

button.like-button{
        margin-top: 2%;
        margin-left: 4%;
        width: 5%;
}

button.comment-button{
        margin-top: 2%;

        width: 7%;
}
.button-count{
        font-size: 150%;
        padding-left: 1%;
}



/*-------------------------*/


/*------------------Debug---------------------------*/


